{% load i18n pages_tags %}

{% comment %}
{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
    {% if page.is_primary %}
        {% if forloop.first %}
            <div class="nav-footer">
        {% endif %}
        {% if page.in_menu %}
            <ul class="list-unstyled">
        {% endif %}
    {% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            <ul class="list-unstyled">
        {% endif %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
            id="footer-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endif %}

    {% if page.in_menu and page.has_children_in_menu %}{% page_menu page %}{% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            </li></ul>
        {% endif %}
    {% endif %}

    {% if page.is_primary %}
        {% if page.in_menu %}
            </ul>
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endif %}

{% endfor %}

{% endif %}
{% endspaceless %}
{% endcomment %}
   
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="/static/images/logos/logo-realestate.png" alt="">
                        </div>
                        <p> „Wähle einen Beruf, den du liebst und du brauchst keinen Tag in deinem Leben mehr zu arbeiten“ sagt Konfuzius</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Info</h3>
                        </div>

                        <ul class="twitter-widget footer-links">
                            <li><a href="/"> Home </a></li>
                            <li><a href="/kontakt/über-mich">Über mich</a></li>
                            <li><a href="/kontakt"> Kontakt</a></li>
                            <li><a href="/kontakt/referenzen"> Referenzen</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Impressum</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:info@eignungs-check.ch">jb@eignungs-check.ch</a></li>
                            <li><a href="https://eignungs-check.ch">eignungs-check.ch</a></li>
                            <li>Mellingerstrasse 6, 5400 Baden</li>
                            <li>+41 79 579 33 09</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="https://www.linkedin.com/in/jacqueline-burkhard-678490116/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

