{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block before_main %}
{% endblock %}


{% block main %}
{% blocktrans %}
<ul class='slideshow'>
		<li>
			<span>Summer</span>
		</li>
		<li>		
			<span>Fall</span>
		</li>
		<li>		
			<span>Winter</span>
		</li>
		<li>
			<span>Spring</span>
		</li>
	</ul>
	
    <div class="parallax first-section">
        <div class="container">
            <div class="row">
                <!--
                <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                    <div class="contact_form">
                        <h3><i class="fa fa-envelope-o grd1 global-radius"></i> QUICK APPOINTMENT</h3>
                        <form id="contactform1" class="row" name="contactform" method="post">
                            <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email1" id="email1" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Your Phone">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="sr-only">Select Time</label>
                                    <select name="select_service1" id="select_service1" class="selectpicker form-control" data-style="btn-white">
                                        <option value="selecttime">Select Time</option>
                                        <option value="Weekdays">Weekdays</option>
                                        <option value="Weekend">Weekend</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="sr-only">What is max price?</label>
                                    <select name="select_price1" id="select_price1" class="selectpicker form-control" data-style="btn-white">
                                        <option value="$100 - $2000">$100 - $2000</option>
                                        <option value="$2000 - $4000">$2000 - $4000</option>
                                        <option value="$4000 - $10000">$4000 - $10000</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" value="SEND" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">Get an Appointment</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            -->
				<div class="col-md-12 col-sm-12">
                    <div class="big-tagline clearfix" style="padding-top:300px">
                        <h2 style="text-align: center;">Neue Herausforderung?</h2>
                        <p class="lead"></p>
                        <div class="row">
                            <div class="col-md-6">
                        <a href="/berufswahl-studienberatung/" class="jtheme-button width-full text-center" >Berufs- & Studienwahl, Berufliche Veränderung</a></div>
                            <div class="col-md-6">
                        <a href="/coaching" class="jtheme-button width-full text-center">Einzelcoaching - & Business Coaching</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="about-box">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center">
						<div class="single-feature">
							
							<h4><a href="/berufswahl-studienberatung/berufswahl/">BERUFSBERATUNG</a></h4>
							<p>Die Wahl des passenden Berufs ist eine richtungsweisende Wahl. Doch welcher Beruf passt zu mir und meinen individuellen Talenten, Eignungen und Persönlichkeitsmerkmalen? Gerne berate ich Sie.<br><br><br><br>
                                <a href="/berufswahl-studienberatung/berufswahl/" class="jtheme-button">mehr erfahren..</a></p>
						</div> 
					</div>
                <div class="col-md-3 text-center">
						<div class="single-feature">
							
							<h4><a href="/berufswahl-studienberatung/studienberatung/">STUDIENBERATUNG</a></h4>
							<p>Die Zahl der Bachelor und Master Studiengänge an Universitäten und Fachhochschulen steigt stetig. Gerne berate ich Sie, welches Studium am besten zu ihren Fähigkeiten passt.<br><br><br><br><br><a href="/berufswahl-studienberatung/studienberatung/" class="jtheme-button">mehr erfahren..</a></p>
						</div> 
					</div>
           
                <div class="col-md-3 text-center">
						<div class="single-feature">
							
							<h4><a href="/berufliche-veränderung/weiterbildung/">WEITERBILDUNG</a></h4>
							<p>Sie fragen sich, welche Weiterbildung ist für meine Karriere förderlich? Bei der grossen Auswahl und den vielen Möglichkeiten die heute angeboten werden, ist es wichtig sich für die richtige Weiterbildung zu entscheiden.<br><br><br><a href="/berufliche-veränderung/weiterbildung/" class="jtheme-button">mehr erfahren..</a></p>
						</div> 
					</div>
               
                <div class="col-md-3 text-center">
						<div class="single-feature">
							
							<h4><a href="/coaching/" >COACHING</a></h4>
							<p>Sie wollen sich weiter entwickeln? Sich besser verstehen und steuern? Damit Sie in den entscheidenden Momenten des Berufslebens richtig handeln und sich erfolgreich zur Geltung bringen. Gerne begleite ich Sie auf Ihrem Weg.<br><br><a href="/coaching/" class="jtheme-button">mehr erfahren..</a></p>
						</div> 
					</div>
                </div>
				</div>
			</div>
						
			

    <div id="agent" class="parallax section db parallax-off" style="background-image:url('/static/uploads/parallax_02.png');">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>JACQUELINE BURKHARD</h3>
                    <p class="lead">GPI® Coach – GPI® Team Coach</p> 
                    <p class="lead">Betrieblicher Mentor</p>
                    <p class="lead">dipl. Psychophysiognomin CHA</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="agencies_meta clearfix">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p class="lead">QUALIFIKATION</p>
                        <p>&nbsp;</p>
                        <p class="lead">Certificate of Advanced Studies (CAS) Kalaidos FH in Business Coaching</p>
                        <p class="lead">dipl. Psychophysiognomin CHA</p>
                         <p>&nbsp;</p>

                    </div>
                </div>
				<div class="col-md-4">
                    <div class="post-media wow fadeIn">
                        <img src="/static/images/jacqueline.jpg" alt="" class="img-responsive">
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="agencies_meta clearfix">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p class="lead">KONTAKT</p>
                        <p>&nbsp;</p>
                        <address>
                        <p class="lead">Mellingerstrasse 6<br />
                        5400 Baden<br />
                        <i class="fa fa-envelope "></i>&nbsp;&nbsp;jb@eignungs-check.ch<br />
                        <i class="fa fa-phone-square "></i>&nbsp;&nbsp;+41 79 579 33 09</p>
                        </address>
                        <a href="/kontakt" data-scroll class="jtheme-button">zum Kontaktformular</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
                <!--
                <div class="col-md-4">
                    <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <img src="/static/uploads/about_bg.jpg" alt="" class="img-responsive">                        
                    </div>
                </div>
            -->
            <div class="container">
                <div class="col-md-12 text-center">
                    <div class="message-box right-ab">
                        <p>&nbsp;</p>
                        <h4>Was können Sie erwarten?</h4>
                        <h2>WIE ICH ARBEITE</h2>
                        <p>Mit dem Test- und Auswertungsverfahren „Grundrichtungen der Persönlichkeit GPI®“ von Coachingplus GmbH biete ich meinen Kunden einen interessanten Test an, in dem das individuelle Handeln nachvollziehbar aufgedeckt wird. Darin werden Stärken und Konfliktsituationen sichtbar.</p><p> Die gewonnenen Erkenntnisse verhelfen dem Kunden, neue Strategien und Vorgehensweisen in seinem Lebensalltag  erfolgreich zu integrieren. </p><p>Ich arbeite zudem anhand von Psychophysiognomik und psychologischen Tests. Die Psychophysiognomik beschäftigt sich mit dem Menschen in seinem Handeln, Denken und Verhalten. Dabei werden alle Ausdrucksmöglichkeiten, die Form und Farbe wie auch die Bewegung, die Mimik, die Gestik, die Körpersprache, die Sprache, die Schrift, Zeichnungen, Lebenslauf und sonstige Leistungen in den Bereich ihrer Untersuchung mit einbezogen. Es ist auch die moderne Körper-, Kopf-, Gesichts- und Augenausdruckslehre.</p>
                        <a href="#" class="btn btn-light btn-radius grd1 btn-brd">Weiter lesen</a>
                    </div>
                </div>
            </div>
            
        </div>

<!--
    <div id="testimonials" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Happy Customers</h3>
                    <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
								
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_01.png" alt="" class="img-responsive alignleft">
                                <h4>James Fernando <small>- Manager of Racer</small></h4>
                            </div>
                            
                        </div>
                       

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_02.png" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                         
                        </div>
                       
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_03.png" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                           
                        </div>
                     
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_01.png" alt="" class="img-responsive alignleft">
                                <h4>James Fernando <small>- Manager of Racer</small></h4>
                            </div>
                           
                        </div>
                        
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_02.png" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                           
                        </div>
                        

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="/static/uploads/testi_03.png" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

{% endblocktrans %}
{% endblock %}

{% block after_main %}
{% endblock %}


