{% extends "base.html" %}
{% load mezzanine_tags keyword_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}



                



{% block before_main %}
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
<h2>{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
    {% endblock %}
</h2>

<nav id="breadcrumbs">
    <ul>
        {% spaceless %}
        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
    </ul>
</nav>
</div>
</div>
</div>
</div>

<div>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-12">

{% endblock %}
                    
{% block main %}
{% endblock %}

{% block after_main %}
</div>
</div>
</div>
</div>
{% endblock %}
